ul{
  li{
    color: white;
  }
}

.box{
  width: 400px;
  height: 400px;
  background: url("../images/1.jpg") no-repeat center;
}
.box2{
  width: 400px;
  height: 400px;
  background: url("../img/1.jpg") no-repeat center;
}